<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pizza ordering app</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li>
                    <h4>Logged User:<span sec:authentication="name">user</span>
                        Roles: <span sec:authentication="principal.authorities">ROLE_USER</span>
                    </h4>
                </li>
            </ul>
            <div class="col-md-3">
                <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary" value="Log out"> </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Pizzas</h1>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Pizza Name</th>
                    <th>Weight (g)</th>
                    <th>Ingredients</th>
                    <th>Price (ron)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tr th:each="product, stat: ${pizzas}"
                th:class="${stat.odd}? 'table-light': 'table-dark'"
            >
                <td>
                    <img th:src="@{'/product/getimage/' + ${product.productId}}" width="100" height="100">
                </td>
                <td th:text="${product.productName}">Pizza</td>
                <td th:text="${product.quantity}">Weight</td>
                <td th:text="${product.ingredients}">Ingredients</td>
                <td th:text="${product.unitPrice}">Price</td>
                <td>
                    <a href="#">Add to cart</a>
                    <br>
                    <a href="/menu/products/delete_product" sec:authorize="hasRole('ADMIN')" th:href="@{'menu/products/update_product/' + ${product.productId}}">Update</a>
                    <br>
                    <a href="/menu/products/delete_product" sec:authorize="hasRole('ADMIN')" th:href="@{'menu/products/delete_product/' + ${product.productId}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>


    <div class="container">
        <h1>Drinks</h1>
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>Drink Name</th>
                <th>Volume (ml)</th>
                <th>Price (ron)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr th:each="product, stat: ${drinks}"
                th:class="${stat.odd}? 'table-light': 'table-dark'"
            >
                <td>
                    <img th:src="@{'/product/getimage/' + ${product.productId}}" width="100" height="100">
                </td>
                <td th:text="${product.productName}">Drink</td>
                <td th:text="${product.quantity}">Volume</td>
                <td th:text="${product.unitPrice}">Price</td>
                <td>
                    <a href="#">Add to cart</a>
                    <br>
                    <a href="/menu/products/delete_product" sec:authorize="hasRole('ADMIN')" th:href="@{'menu/products/update_product/' + ${product.productId}}">Update</a>
                    <br>
                    <a href="/menu/products/delete_product" sec:authorize="hasRole('ADMIN')" th:href="@{'menu/products/delete_product/' + ${product.productId}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-primary" role="button" th:href="@{'/menu/products/add_product/new'}">Add a new pizza or drink</a>
            </div>
        </div>
    </div>

</body>
</html>